<p id="notice"><%= notice %></p>

<h1>Enrolled Studentz</h1>

<table>
  <thead>
    <tr>
      <th align="left">Name:</th>
      <th align="left">Number:</th>
      <th align="left">Email:</th>
      <th align="left">GPA:</th>
      <th align="left">Percent Decomposed:</th>
      <th align="left">Number Of Limbs:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.number %></td>
        <td><%= student.email %></td>
        <td><%= student.gpa %></td>
        <td><%= student.percentDecomposed %></td>
        <td><%= student.numberOfLimbs %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'DESTROY STUDENT!', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Entroll New Student', new_student_path %>
