<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @professor.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @professor.number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>

<p>
  <strong>Number Of Brains Eaten:</strong>
  <%= @professor.numberOfBrainsEaten %>
</p>

<p>
	<strong>Sections Teaching:
	<ul>
		<% @professor.sections.each do |section| %>
			<li><%= section.name %></li>
		<% end %>
	</ul>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
