<br>
<div align="center">
    <h3>Zombie University</h3>
    <h4>Sign in</h4>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row container">
        <div class="input-field col s6 offset-s3">
            <%= f.label :email, class: "light-green-text text-accent-3" %><br />
            <%= f.email_field :email, autofocus: true %>
        </div>
    </div>

    <div class="row container">
        <div class="input-field col s6 offset-s3">
            <%= f.label :password, class: "light-green-text text-accent-3"  %><br />
            <%= f.password_field :password, autocomplete: "off" %>
        </div>
    </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "light-green-text text-accent-3"  %>
        </div>
      <% end -%>

      <div class="actions">
          <button class="btn black light-green-text text-accent-3 waves-effect waves-light" onclick="submit">
            Log In
          </button>
      </div>
    <% end %>
    
    <%= render "users/shared/links" %>
</div>