<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @section.course.name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Roomnumber:</strong>
  <%= @section.roomNumber %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @section.professor.name %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @section.semester %>
</p>

<p>
	<strong>Students Enrolled in Section:</strong>
	<ul>
		<% @section.students.each do |student| %>
			<li><%= student.name %></li>
		<% end %>
	</ul>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
