<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Roomnumber:</strong>
  <%= @section.roomNumber %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @section.professor %>
</p>

<p>
  <strong>Course:</strong>
  <%= @section.course %>
</p>

<ul>
	<% @section.students.each do |student| %>
		<li><%= student.name %></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
