<!DOCTYPE html>
<html>
<head>
  <title>ZombieUniversity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<style>
		body {
			background-image: url("/assets/ZomUnivWallpaper.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
</head>
<body>
	<font color="#76ff03"/>
        <% if user_signed_in? %>
            <div align="left">
                Welcome! <%= current_user.email %>
            </div>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "light-green-text text-accent-1 waves-effect waves-light" %>
            </div>
            
            <% end %>
    <%= link_to 'Home', root_path, class: "light-green-text text-accent-1 waves-effect waves-light" %>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>
